.image {
  font-size: 0;
}

.image  img {
  vertical-align: bottom;
}

.input-uri {
  display: flex;
}
.input-uri__input {
  flex-grow: 1;
}

.empty {
  line-height: 120px;
  vertical-align: middle;
}

.empty button {
  height: 100px;
}
